In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

In [3]:
df1=pd.read_csv('Datasets/olist_closed_deals_dataset.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

In [6]:
df1.shape

(842, 14)

In [8]:
df1.head(10)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0
5,b94fba7670eeb44dce2a0d8eb790e9f5,1c742ac33582852aaf3bcfbf5893abcf,fdb16d3cbbeb5798f2f66c4096be026d,495d4e95a8cf8bbf8b432b612a2aa328,2018-02-07 18:04:05,health_beauty,online_medium,NaN,NaN,NaN,NaN,manufacturer,NaN,0.0
6,c3e30ed7ac989117c7e1e719b4ac128f,92d7568ad0c5c76fd7d341b2d46f24d6,4b339f9567d060bcea4f5136b9f5949e,85fc447d336637ba1df43e793199fbc8,2018-04-16 18:18:22,computers,online_medium,wolf,NaN,NaN,NaN,reseller,NaN,0.0
7,b02c89251106e1fdd9d92744be9f94f2,44ed138eca6214d572ce1d813fb0049b,34d40cdaf94010a1d05b0d6212f9e909,4ef15afb4b2723d8f3d81e51ec7afefe,2018-04-17 17:01:57,health_beauty,offline,cat,NaN,NaN,NaN,manufacturer,NaN,0.0
8,a90a37898cc5f2718385a2fb981caaff,0b28859cd04d23edefee9c591fb03cd8,f42a2bd194f7802ab052a815c8de65b7,6565aa9ce3178a5caf6171827af3a9ba,2018-05-14 18:37:15,household_utilities,offline,eagle,NaN,NaN,NaN,reseller,NaN,0.0
9,0173e8d8b1d94a355b440fb67388f532,87d73636a3acf123e842bb890a4db036,9d12ef1a7eca3ec58c545c678af7869c,9e4d1098a3b0f5da39b0bc48f9876645,2018-04-24 03:00:00,household_utilities,online_medium,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [72]:
df1.describe()

       declared_product_catalog_size  declared_monthly_revenue
count                      69.000000              8.420000e+02
mean                      233.028986              7.337768e+04
std                       352.380558              1.744799e+06
min                         1.000000              0.000000e+00
25%                        30.000000              0.000000e+00
50%                       100.000000              0.000000e+00
75%                       300.000000              0.000000e+00
max                      2000.000000              5.000000e+07

In [82]:
len(df1.lead_behaviour_profile.unique())

10

In [85]:
df1.has_company.unique()

array([nan, True, False], dtype=object)

In [86]:
df1.has_gtin.unique()

array([nan, True, False], dtype=object)

In [79]:
len(df1.business_segment.unique())

34

In [84]:
df1.lead_behaviour_profile.unique()

array(['cat', 'eagle', nan, 'wolf', 'shark', 'cat, wolf', 'eagle, wolf',
       'shark, cat', 'eagle, cat', 'shark, wolf'], dtype=object)

In [10]:
df1.average_stock.unique()

array([nan, '20-50', '1-5', '5-20', '200+', '50-200', 'unknown'],
      dtype=object)

In [11]:
df1.business_type.unique()

array(['reseller', 'manufacturer', 'other', nan], dtype=object)

In [87]:
df1.business_type.value_counts()

reseller        587
manufacturer    242
other             3
Name: business_type, dtype: int64

In [13]:
df1.has_company.unique()

array([nan, True, False], dtype=object)

In [88]:
df1.declared_product_catalog_size.unique()

array([     nan, 2.00e+03, 8.00e+01, 1.50e+01, 1.20e+02, 1.00e+03,
       5.00e+01, 4.00e+00, 4.00e+02, 8.00e+02, 5.00e+00, 1.00e+02,
       3.00e+02, 1.00e+01, 4.00e+01, 5.00e+02, 2.00e+02, 2.00e+01,
       1.00e+00, 7.00e+01, 4.50e+01, 2.20e+01, 3.00e+01, 8.50e+01,
       7.50e+01, 6.00e+02, 4.70e+01, 1.20e+01, 7.00e+02, 1.20e+03,
       2.00e+00, 5.50e+02, 3.05e+02, 1.32e+02])

In [89]:
len(df1.declared_product_catalog_size.unique())

34

In [92]:
df1.declared_product_catalog_size.value_counts()

100.0     9
50.0      7
300.0     5
400.0     4
20.0      4
1000.0    3
10.0      3
30.0      2
70.0      2
200.0     2
4.0       2
40.0      2
500.0     2
15.0      2
120.0     2
600.0     1
550.0     1
2.0       1
1200.0    1
305.0     1
700.0     1
12.0      1
47.0      1
2000.0    1
75.0      1
85.0      1
22.0      1
45.0      1
1.0       1
80.0      1
5.0       1
800.0     1
132.0     1
Name: declared_product_catalog_size, dtype: int64

In [91]:
df1.declared_monthly_revenue.value_counts()

0.0           797
100000.0        5
20000.0         3
30000.0         3
10000.0         3
25000.0         3
15000.0         2
120000.0        2
50000.0         2
60000.0         2
300000.0        2
5000.0          2
250000.0        2
210000.0        1
8000000.0       1
40000.0         1
50000000.0      1
4000.0          1
150000.0        1
6.0             1
1000.0          1
180000.0        1
500000.0        1
130000.0        1
6000.0          1
8000.0          1
200000.0        1
Name: declared_monthly_revenue, dtype: int64

In [15]:
len(df1.business_segment.unique())

34

In [93]:
df1.won_date.min()

'2017-12-05 02:00:00'

In [94]:
df1.won_date.max()

'2018-11-14 18:04:19'

In [16]:
df2=pd.read_csv('Datasets/olist_customers_dataset.csv')

In [17]:
df2.shape

(99441, 5)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [20]:
#df2.describe()

In [21]:
df2.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG

In [22]:
df2.customer_state.unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)

In [95]:
len(df2.customer_id.unique())

99441

In [101]:
len(df2.customer_city.unique())

4119

In [100]:
len(df2.customer_zip_code_prefix.unique())

14994

In [102]:
len(df2.customer_state.unique())

27

In [103]:
df2.customer_state.value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: customer_state, dtype: int64

In [97]:
len(df2.customer_unique_id.unique())

96096

In [98]:
df2.customer_unique_id.value_counts()

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
081f07439678af2da7755a0aa572154d     1
9c57789a6a587f4efcfb01e36c106014     1
9e4c21635f640562de1a6976374fba03     1
06c0ea6ee892364d1608ee47aa9f56a0     1
84732c5050c01db9b23e19ba39899398     1
Name: customer_unique_id, Length: 96096, dtype: int64

In [99]:
len(df2.customer_unique_id.value_counts())

96096

In [23]:
df3=pd.read_csv('Datasets/olist_geolocation_dataset.csv')

In [24]:
df3.shape

(1000163, 5)

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [26]:
df3.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [104]:
len(df3.geolocation_zip_code_prefix.unique())

19015

In [106]:
len(df3.geolocation_lng.unique())

717613

In [105]:
len(df3.geolocation_lat.unique())

717360

In [107]:
len(df3.geolocation_city.unique())

8011

In [108]:
len(df3.geolocation_state.unique())

27

In [109]:
df3.geolocation_state.value_counts()

SP    404268
MG    126336
RJ    121169
RS     61851
PR     57859
SC     38328
BA     36045
GO     20139
ES     16748
PE     16432
DF     12986
MT     12031
CE     11674
PA     10853
MS     10431
MA      7853
PB      5538
RN      5041
PI      4549
AL      4183
TO      3576
SE      3563
RO      3478
AM      2432
AC      1301
AP       853
RR       646
Name: geolocation_state, dtype: int64

In [28]:
df4=pd.read_csv('Datasets/olist_marketing_qualified_leads_dataset.csv')

In [29]:
df4.shape

(8000, 4)

In [30]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

In [31]:
df4.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [32]:
df4.origin.unique()

array(['social', 'paid_search', 'organic_search', 'email', 'unknown',
       'referral', 'direct_traffic', 'display', nan, 'other_publicities',
       'other'], dtype=object)

In [115]:
len(df4.origin.unique())

11

In [116]:
df4.origin.value_counts()

organic_search       2296
paid_search          1586
social               1350
unknown              1099
direct_traffic        499
email                 493
referral              284
other                 150
display               118
other_publicities      65
Name: origin, dtype: int64

In [110]:
len(df4.mql_id.unique())

8000

In [111]:
df4.first_contact_date.min()

'2017-06-14'

In [112]:
df4.first_contact_date.max()

'2018-05-31'

In [113]:
len(df4.landing_page_id.unique())

495

In [114]:
df4.landing_page_id.value_counts()

b76ef37428e6799c421989521c0e5077    912
22c29808c4f815213303f8933030604c    883
58326e62183c14b0c03085c33b9fdc44    495
88740e65d5d6b056e0cda098e1ea6313    445
ce1a65abd0973638f1c887a6efcfa82d    394
                                   ...
8999524db83541c7f1ad48906d5d4b86      1
be7f31219be243061a39a4a158898688      1
ea4434c9a6df0098e720204ba3dbb76d      1
e5eaa929c6697d69cd76727daa809042      1
3683ba5726e741af4b8b02bcaef4e7b3      1
Name: landing_page_id, Length: 495, dtype: int64

In [33]:
df5=pd.read_csv('Datasets/olist_order_items_dataset.csv')

In [34]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [35]:
df5.shape

(112650, 7)

In [37]:
df5.head(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

In [118]:
len(df5.order_id.unique())

98666

In [119]:
df5.order_id.value_counts()

8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
                                    ..
5a0911d70c1f85d3bed0df1bf693a6dd     1
5a082b558a3798d3e36d93bfa8ca1eae     1
5a07264682e0b8fbb3f166edbbffc6e8     1
5a071192a28951b76774e5a760c8c9b7     1
fffe41c64501cc87c801fd61db3f6244     1
Name: order_id, Length: 98666, dtype: int64

In [38]:
df5.order_item_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21])

In [120]:
df5.order_item_id.value_counts()

1     98666
2      9803
3      2287
4       965
5       460
6       256
7        58
8        36
9        28
10       25
11       17
12       13
13        8
14        7
15        5
16        3
17        3
18        3
19        3
20        3
21        1
Name: order_item_id, dtype: int64

In [121]:
len(df5.product_id.unique())

32951

In [122]:
df5.product_id.value_counts()

aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
                                   ...
dbc42f8ad8afd0147a5a46be630781f8      1
5d86ed92606c80a89e547cdba3946812      1
0b8750fa58fefe42cf03a9e2e4b8fce6      1
a4758e74e2cdb74d0c4db83594ca14a3      1
350688d9dc1e75ff97be326363655e01      1
Name: product_id, Length: 32951, dtype: int64

In [124]:
len(df5.seller_id.unique())

3095

In [125]:
df5.seller_id.value_counts()

6560211a19b47992c3666cc44a7e94c0    2033
4a3ca9315b744ce9f8e9374361493884    1987
1f50f920176fa81dab994f9023523100    1931
cc419e0650a3c5ba77189a1882b7556a    1775
da8622b14eb17ae2831f4ac5b9dab84a    1551
                                    ...
400f221ab83037c0ea78f1267da9624d       1
1746c1ae87ac63d530c7c943d0ac42e2       1
16bdc8cefd0e32a6f0824d296c5ad14a       1
ace601496e211a664100321f038f50af       1
13d95f0f6f73943d4ceffad0fc2cd32c       1
Name: seller_id, Length: 3095, dtype: int64

In [126]:
df5.shipping_limit_date.min()

'2016-09-19 00:15:34'

In [127]:
df5.shipping_limit_date.max()

'2020-04-09 22:35:08'

In [147]:
df5[df5.order_id=='b81ef226f3fe1789b1e8b2acac839d17']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
80985,b81ef226f3fe1789b1e8b2acac839d17,1,af74cc53dcffc8384b29e7abfa41902b,213b25e6f54661939f11710a6fddb871,2018-05-02 22:15:09,79.8,19.53

In [129]:
len(df5.price.unique())

5968

In [130]:
df5.price.value_counts()

59.90      2481
69.90      1987
49.90      1953
89.90      1548
99.90      1432
           ...
1369.90       1
108.24        1
1224.99       1
24.52         1
736.00        1
Name: price, Length: 5968, dtype: int64

In [132]:
df5.price.min(), df5.price.max()

(0.85, 6735.0)

In [131]:
len(df5.freight_value.unique())

6999

In [133]:
df5.freight_value.min(), df5.freight_value.max()

(0.0, 409.68)

In [39]:
df6=pd.read_csv('Datasets/olist_order_payments_dataset.csv')

In [40]:
df6.shape

(103886, 5)

In [41]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [42]:
df6.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [44]:
df6.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [46]:
len(df6.payment_type[df6.payment_type== 'not_defined'])

3

In [47]:
df6.payment_type.value_counts()

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

In [134]:
len(df6.order_id.unique())

99440

In [135]:
df6.payment_sequential.unique()

array([ 1,  2,  4,  5,  3,  8,  6,  7, 10, 11, 17, 19, 27, 12,  9, 15, 13,
       14, 16, 25, 22, 26, 29, 28, 18, 21, 24, 23, 20])

In [136]:
len(df6.payment_sequential.unique())

29

In [146]:
df6[df6.order_id=='b81ef226f3fe1789b1e8b2acac839d17']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [137]:
df6.payment_sequential.value_counts()

1     99360
2      3039
3       581
4       278
5       170
6       118
7        82
8        54
9        43
10       34
11       29
12       21
13       13
14       10
15        8
18        6
19        6
16        6
17        6
21        4
20        4
22        3
26        2
24        2
23        2
25        2
29        1
28        1
27        1
Name: payment_sequential, dtype: int64

In [138]:
len(df6.payment_installments.unique())

24

In [139]:
df6.payment_installments.value_counts()

1     52546
2     12413
3     10461
4      7098
10     5328
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: payment_installments, dtype: int64

In [140]:
len(df6.payment_value.unique())

29077

In [141]:
df6.payment_value.min(), df6.payment_value.max()

(0.0, 13664.08)

In [148]:
# Datasets del numero 7 al 11. (equiv a df7 a df11)
df_olist_order_reviews_dataset = pd.read_csv('Datasets/olist_order_reviews_dataset.csv')
df_olist_orders_dataset = pd.read_csv('Datasets/olist_orders_dataset.csv')
df_olist_products_dataset = pd.read_csv('Datasets/olist_products_dataset.csv')
df_olist_sellers_dataset = pd.read_csv('Datasets/olist_sellers_dataset.csv')
df_product_category_name_translationt = pd.read_csv('Datasets/product_category_name_translation.csv')

In [149]:
# numero 7:
df_olist_order_reviews_dataset.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [150]:
df_olist_order_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [151]:
df_olist_order_reviews_dataset['review_id'].value_counts(ascending=False)

7b606b0d57b078384f0b58eac1d41d78    3
dbdf1ea31790c8ecfcc6750525661a9b    3
32415bbf6e341d5d517080a796f79b5c    3
0c76e7a547a531e7bf9f0b99cba071c1    3
4219a80ab469e3fc9901437b73da3f75    3
                                   ..
95e01591b0e69a2fab382b0c562d4e20    1
93611e0327d6a1769d1e68cf3caa242d    1
983c47de74278257f99c4b918fd380f1    1
ca475b77fcc618551ef9d516c3f61b88    1
efe49f1d6f951dd88b51e6ccd4cc548f    1
Name: review_id, Length: 98410, dtype: int64

In [152]:
df_olist_order_reviews_dataset['order_id'].value_counts(ascending=False)

c88b1d1b157a9999ce368f218a407141    3
8e17072ec97ce29f0e1f111e598b0c85    3
df56136b8031ecd28e200bb18e6ddb2e    3
03c939fd7fd3b38f8485a0f95798f1f6    3
5cb890a68b91b6158d69257e4e2bc359    2
                                   ..
5b4e9a12d219f34f5c2de9f8d620b19d    1
a6da096d974acc000962856d7386448a    1
75e0647c26de647eca3421e9cc66c9da    1
bad0467c52f23cdc71e9fa139d4a8afd    1
90531360ecb1eec2a1fbb265a0db0508    1
Name: order_id, Length: 98673, dtype: int64

In [153]:
df_olist_order_reviews_dataset['review_score'].value_counts(ascending=False)

5    57328
4    19142
1    11424
3     8179
2     3151
Name: review_score, dtype: int64

In [154]:
df_olist_order_reviews_dataset['review_comment_title'].value_counts(ascending=False)

Recomendo                    423
recomendo                    345
Bom                          293
super recomendo              270
Excelente                    248
                            ...
Luminaria sobrepor led 18      1
No recebi.                    1
produto com lacre violado      1
Atraso Entrega                 1
Foto enganosa                  1
Name: review_comment_title, Length: 4527, dtype: int64

In [155]:
df_olist_order_reviews_dataset['review_comment_message'].value_counts(ascending=False)

Muito bom                                                                                                                                                                                              230
Bom                                                                                                                                                                                                    189
muito bom                                                                                                                                                                                              122
bom                                                                                                                                                                                                    107
Recomendo                                                                                                                                                                                              100
                                                                                                                                                                                                      ...
PRODUTO FOI ENTREGUE VIA CORREIOS\r\nANTES DO PRAZO PREVISTO.                                                                                                                                            1
Devido incompatibilidade vou devolver, timo produto!                                                                                                                                                    1
Infelizmente no! A qualidade do produto no agradou.Impresso da foto em exposio remete a um tamanho maior e a recebida sequer atende a uma criana. PRODUTO NO JUSTIFICA O VALOR INFELIZMENTE!      1
entrega na data prevista,somente a qualidade do material no  o mesmo que eu pensava mas pelo preo ta valido                                                                                           1
meu produto chegou e ja tenho que devolver, pois est com defeito , no segurar carga                                                                                                                    1
Name: review_comment_message, Length: 36159, dtype: int64

In [156]:
df_olist_order_reviews_dataset['review_creation_date'].value_counts(ascending=False)

2017-12-19 00:00:00    463
2018-08-28 00:00:00    452
2017-12-20 00:00:00    440
2018-05-19 00:00:00    434
2018-05-15 00:00:00    425
                      ...
2016-10-23 00:00:00      1
2017-03-27 00:00:00      1
2016-10-06 00:00:00      1
2018-07-23 00:00:00      1
2017-01-04 00:00:00      1
Name: review_creation_date, Length: 636, dtype: int64

In [157]:
df_olist_order_reviews_dataset['review_answer_timestamp'].value_counts(ascending=False)

2017-06-15 23:21:05    4
2018-02-26 15:53:18    3
2018-04-07 21:13:05    3
2017-02-21 23:30:22    3
2017-08-12 14:35:35    3
                      ..
2018-08-20 12:43:33    1
2018-01-16 20:42:07    1
2018-05-13 13:19:11    1
2018-03-19 12:59:37    1
2017-07-03 21:01:49    1
Name: review_answer_timestamp, Length: 98248, dtype: int64

In [158]:
# numero 8:
df_olist_orders_dataset.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [159]:
df_olist_orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [160]:
df_olist_orders_dataset['order_id'].value_counts(ascending=False)

e481f51cbdc54678b7cc49136f2d6af7    1
f01059d0d674e1282df4e8fbbe015aa2    1
fbc17f0f2a2125054d5ac5c22d2d5120    1
9373150545066777b1cd2bc20e93cf8e    1
917399e96f92268dfa2c0351b1b75fba    1
                                   ..
6b8986012d61963295ffa3ea869aff86    1
be879f757debd3b384b540daa6ddd97e    1
ac3ce7eda1246f39509a505242fcc169    1
e801a93b3904ca9e8350f176a037047b    1
66dea50a8b16d9b4dee7af250b4be1a5    1
Name: order_id, Length: 99441, dtype: int64

In [161]:
df_olist_orders_dataset['customer_id'].value_counts(ascending=False)

9ef432eb6251297304e76186b10a928d    1
413f7e58270a32396af030a075b924be    1
eb4350b67a0264c67e5e06a038e4afbb    1
622b07d262d545d16efbd4363a89cb91    1
c701fbfa77791abd05eef9eacf7ea7a8    1
                                   ..
39585f08d13377e50fde35467984e6eb    1
eb3d995301c320683de629f5b4dd0c78    1
f2507ea56d748a23037bb1214964e87d    1
ae8269d850cd3a3d06a56877c450b3f8    1
edb027a75a1449115f6b43211ae02a24    1
Name: customer_id, Length: 99441, dtype: int64

In [162]:
df_olist_orders_dataset['order_status'].value_counts(ascending=False)

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [163]:
df_olist_orders_dataset['order_purchase_timestamp'].value_counts(ascending=False)

2018-04-11 10:48:14    3
2018-07-28 13:11:22    3
2017-11-20 10:59:08    3
2018-08-02 12:05:26    3
2018-08-02 12:06:09    3
                      ..
2018-07-14 19:23:47    1
2018-05-10 16:08:05    1
2017-11-28 10:46:46    1
2018-03-17 23:46:08    1
2018-03-08 20:57:30    1
Name: order_purchase_timestamp, Length: 98875, dtype: int64

In [164]:
df_olist_orders_dataset['order_approved_at'].value_counts(ascending=False)

2018-02-27 04:31:10    9
2017-11-07 07:30:38    7
2018-02-27 04:31:01    7
2018-02-06 05:31:52    7
2017-11-07 07:30:29    7
                      ..
2018-08-22 11:50:14    1
2017-09-22 11:27:36    1
2018-03-07 16:40:32    1
2017-08-08 10:50:15    1
2018-03-09 11:20:28    1
Name: order_approved_at, Length: 90733, dtype: int64

In [165]:
df_olist_orders_dataset['order_delivered_carrier_date'].value_counts(ascending=False)

2018-05-09 15:48:00    47
2018-05-10 18:29:00    32
2018-05-07 12:31:00    21
2018-05-02 15:15:00    16
2018-07-24 16:07:00    16
                       ..
2018-01-03 17:37:21     1
2017-10-27 20:07:58     1
2017-11-21 18:57:37     1
2018-03-21 20:03:37     1
2018-03-09 22:11:59     1
Name: order_delivered_carrier_date, Length: 81018, dtype: int64

In [166]:
df_olist_orders_dataset['order_delivered_customer_date'].value_counts(ascending=False)

2018-05-08 23:38:46    3
2016-10-27 17:32:07    3
2018-02-14 21:09:19    3
2017-06-19 18:47:51    3
2018-05-08 19:36:48    3
                      ..
2018-07-12 17:48:45    1
2018-05-18 18:24:36    1
2018-01-17 13:29:13    1
2018-06-29 11:21:34    1
2018-03-16 13:08:30    1
Name: order_delivered_customer_date, Length: 95664, dtype: int64

In [167]:
df_olist_orders_dataset['order_estimated_delivery_date'].value_counts(ascending=False)

2017-12-20 00:00:00    522
2018-03-12 00:00:00    516
2018-05-29 00:00:00    513
2018-03-13 00:00:00    513
2018-02-14 00:00:00    507
                      ...
2016-11-14 00:00:00      1
2016-11-07 00:00:00      1
2016-09-30 00:00:00      1
2016-10-28 00:00:00      1
2016-10-27 00:00:00      1
Name: order_estimated_delivery_date, Length: 459, dtype: int64

In [168]:
# numero 9:
df_olist_products_dataset.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [169]:
df_olist_products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [170]:
df_olist_products_dataset['product_id'].value_counts(ascending=False)

1e9e8ef04dbcff4541ed26657ea517e5    1
d05cc9afc85771f597cf4bc9d8f12546    1
71b7afd92c42feab780d5ea512fc7348    1
5c5f3e091101bea69642eb3dd145b17d    1
16d47089f9bc7f16de16cc4bd3b9dd49    1
                                   ..
c154987c6780d1a2b579aae00e53485f    1
1a6c9da4039deae58c2b769f049ae121    1
4cb35e544a1de008f37e069f172f964e    1
b34b2c889f5b26963569cf421254e121    1
106392145fca363410d287a815be6de4    1
Name: product_id, Length: 32951, dtype: int64

In [171]:
df_olist_products_dataset['product_category_name'].value_counts(ascending=False)

cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 73, dtype: int64

In [172]:
df_olist_products_dataset['product_name_lenght'].value_counts(ascending=False)

60.0    2182
59.0    2025
58.0    1887
57.0    1719
55.0    1683
        ...
66.0       1
72.0       1
67.0       1
76.0       1
6.0        1
Name: product_name_lenght, Length: 66, dtype: int64

In [173]:
df_olist_products_dataset['product_description_lenght'].value_counts(ascending=False)

404.0     94
729.0     86
651.0     66
703.0     66
236.0     65
          ..
2795.0     1
2308.0     1
3698.0     1
3522.0     1
2207.0     1
Name: product_description_lenght, Length: 2960, dtype: int64

In [174]:
df_olist_products_dataset['product_photos_qty'].value_counts(ascending=False)

1.0     16489
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: product_photos_qty, dtype: int64

In [175]:
df_olist_products_dataset['product_weight_g'].value_counts(ascending=False)

200.0     2084
300.0     1561
150.0     1259
400.0     1206
100.0     1188
          ...
6075.0       1
822.0        1
631.0        1
2925.0       1
1920.0       1
Name: product_weight_g, Length: 2204, dtype: int64

In [176]:
df_olist_products_dataset['product_length_cm'].value_counts(ascending=False)

16.0    5520
20.0    2816
30.0    2029
18.0    1502
25.0    1387
        ...
96.0       4
10.0       3
8.0        2
9.0        2
7.0        1
Name: product_length_cm, Length: 99, dtype: int64

In [177]:
df_olist_products_dataset['product_height_cm'].value_counts(ascending=False)

10.0    2548
15.0    2022
20.0    1991
16.0    1595
11.0    1551
        ...
98.0       2
97.0       2
99.0       1
89.0       1
94.0       1
Name: product_height_cm, Length: 102, dtype: int64

In [178]:
df_olist_products_dataset['product_width_cm'].value_counts(ascending=False)

11.0     3718
20.0     3053
16.0     2808
15.0     2393
30.0     1786
         ...
103.0       1
86.0        1
98.0        1
87.0        1
104.0       1
Name: product_width_cm, Length: 95, dtype: int64

In [179]:
# numero 10:
df_olist_sellers_dataset.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [180]:
df_olist_sellers_dataset.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [181]:
df_olist_sellers_dataset.count()

seller_id                 3095
seller_zip_code_prefix    3095
seller_city               3095
seller_state              3095
dtype: int64

In [182]:
df_olist_sellers_dataset['seller_id'].value_counts(ascending=True)

3442f8959a84dea7ee197c632cb2df15    1
f7ccf836d21b2fb1de37564105216cc1    1
7e3f87d16fb353f408d467e74fbd8014    1
9140bd1d9de28b197dce077bdd687438    1
a2b911e9ad40dc7d61c142a4683e2d85    1
                                   ..
f918546be4bec7104d117789ba758b2b    1
eb4a59a06b3948e851a7d7a830bcbc42    1
80146bc52c4f6af5239b23de2a20262b    1
271c58a1d139c45eaf3316107c6d3a3b    1
9e25199f6ef7e7c347120ff175652c3b    1
Name: seller_id, Length: 3095, dtype: int64

In [183]:
df_olist_sellers_dataset['seller_zip_code_prefix'].value_counts(ascending=False)

14940    49
13660    10
13920     9
16200     9
87050     8
         ..
83707     1
85065     1
78552     1
3632      1
12051     1
Name: seller_zip_code_prefix, Length: 2246, dtype: int64

In [184]:
df_olist_sellers_dataset['seller_city'].value_counts(ascending=False)

sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: seller_city, Length: 611, dtype: int64

In [185]:
df_olist_sellers_dataset['seller_state'].value_counts(ascending=False)

SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: seller_state, dtype: int64

In [186]:
# numero 11: 
df_product_category_name_translationt.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [187]:
df_product_category_name_translationt.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [188]:
df_product_category_name_translationt.count()

product_category_name            71
product_category_name_english    71
dtype: int64

In [189]:
df_product_category_name_translationt.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [190]:
df_product_category_name_translationt['product_category_name'].value_counts(ascending=True)

beleza_saude                         1
fashion_underwear_e_moda_praia       1
construcao_ferramentas_seguranca     1
livros_interesse_geral               1
moveis_quarto                        1
                                    ..
fashion_calcados                     1
audio                                1
consoles_games                       1
construcao_ferramentas_construcao    1
seguros_e_servicos                   1
Name: product_category_name, Length: 71, dtype: int64

In [191]:
df_product_category_name_translationt['product_category_name_english'].count()

71

In [192]:
df_product_category_name_translationt['product_category_name'].value_counts(ascending=True)

beleza_saude                         1
fashion_underwear_e_moda_praia       1
construcao_ferramentas_seguranca     1
livros_interesse_geral               1
moveis_quarto                        1
                                    ..
fashion_calcados                     1
audio                                1
consoles_games                       1
construcao_ferramentas_construcao    1
seguros_e_servicos                   1
Name: product_category_name, Length: 71, dtype: int64